/* fix time chunk fomatting! 
make borders on time chunk + input field uniform 
customize font weights per field*/
:root {
  --black: #000000;
  --navy: #00072c;
  --drkblue: #273570;
  --medblue: #6d93cb;
  --future: #0b49a6;
  --past: #7d7d89;
  --present: #fbf2b9;
  --medgrey: #b1b1b9b7;
  --white: #ffffff;
}

body {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: var(--medblue);
  color: var(--navy);
  border-bottom: 10px solid var(--drkblue);
}

.lead {
  padding-top: 40px;
  font-size: 22px;
  font-weight: 400;
}

#currentDay {
  padding-top: 10px;
  font-weight: 700;
}

.custom {
  width: 90px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  justify-content: center;
  color: var(--drkblue);
  font-weight: 700;
}

textarea {
  background: transparent;
  border: none;
  color: var(--navy);
  padding: 10px;
  min-height: 50px;
  max-height: 200px;
}

.past {
  background-color: var(--past);
  color: var(--white);
}

.present {
  background-color: var(--present);
  color: var(--navy);
}

.future {
  background-color: var(--future);
  color: var(--white);
}

.saveBtn {
  border: 1px solid var(--medgrey);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--medblue);
  color: var(--white);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: var(--drkblue);
}
